.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem{
    flex-direction: column;
    display: flex;
    flex: 1;
    gap: 10px;
}

.fpItem img{
    width: 100%;
}

.fpName{
    font-weight: bold;
}

.fpCity{
    font-weight: 400;
}

.fpPrice{
    font-weight: 600;
}

.fpRating{
    display: flex;
    gap: 10px;
    align-items: center;
}

.fpRating button{
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.fpRating span{
    font-size: 14px;
}