*{
    font-family: 'Merriweather';
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('../../img/header/header-bg.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 30px 0 70px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.headerContainer.listMode{
    margin: 30px 0 30px 0;
}

.headerList{
    display: flex;
    gap: 50px;
}

.headerListItem{
    display: flex;
    gap: 20px;
    align-items: center;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

.headerBody{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headerBodyTitle{
    font-size: xx-large;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
}

.headerBodyButton button{
    padding: 8px;
    border: none;
    cursor: pointer;
}

.headerSearch{
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 1000px;
}

.headerSearchItem{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.headerSearchItem [type=text]{
    border: none;
    padding: 8px;
    outline: none;
    border-radius: 3px;
}

.signUp{
    color: black;
    height: 45px;
    width: 148px;
}

.signUp:hover{
    color: black;
    text-decoration: underline #8833aa;
    background: #b379ca;
}



.headerSearchText{
    cursor: pointer;
}

.date{
    position: absolute;
    top: 50px;
    z-index: 1;
}

button{
    cursor: pointer;
}

.options{
    z-index: 1;
    padding: 30px;
    border-radius: 5px;
    background-color: hsl(220, 4%, 32%);
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.optionItem{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.optionCounter{
    display: flex;
    gap: 5px;
    height: 25px;
    width: 50px;
}

.optionCounter button{
    border: none;
    border-radius: 2px;
}

.optionCounter button:disabled{
    cursor: not-allowed;
}

.icon{
    color: black;
}


/* Calendar */
.rdrMonth {
    background-color: hsl(220, 18%, 86%);
    color: white;

}

.rdrMonthAndYearWrapper{
    background-color: hsl(220, 18%, 86%);
    color: white;
}

